*{
  box-sizing: border-box;  
  padding: 0;
  margin: 0;

}


header h1{
  font-family: 'Archivo', sans-serif;
  font-weight:bold;
  font-size: 36px;
  line-height: 42px; 
  color: #FFF;
  margin-bottom: 24px;
 }

 body{
font-family: 'Poppins', sans-serif;
background: #D9D9D9;
}
body::before{
  content: "";
  width: 100%;
  height: 360px;
  background: #121214;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;

}
header p{
  color: #42D3FF;
font-family: Poppins;
font-size: 16px;
line-height: 26px; 
}
.page{
  width: 736px;
  margin: auto;
}
header{
width: 319px;
margin-top: 74px;

}

form{
  background: #FAFAFC;
  margin-top: 38px;
  min-height: 300px;
  border-radius: 8px 8px 0px 0px;
  padding: 64px;
  display: block;
  flex-direction: column;
  gap: 48px;
}

fieldset{
  border: none;
}
.wrapper{  
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
}


fieldset legend{
  font-family:"Archivo" , sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  width: 100%;
  border-bottom: 1px solid #c2c2cb;
  padding-bottom: 16px;
}


.wrapper{
display: flex;
flex-direction: column;

}
.wrapper label{
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
  
}
.wrapper label span{
  margin-left: 12px;
  font-size: 12px;
  color: #6c6c71;
}


.wrapper select,
.wrapper input
 {
 background: #FAFAFC;
 border: 1px solid #b3b3bb;
 height: 56px;
 font-size: 16px;
 line-height: 26px;
 color: #6c6c71;
 border-radius: 8px;
 padding: 8px;
}

.wrapper textarea {
 background: #FAFAFC;
 border: 1px solid #b3b3bb;
 height: 56px;
 font-size: 16px; 
 line-height: 26px;
 color: #6c6c71;
 border-radius: 8px;
 height: 168px;
 padding: 8px;
}

.wrapper select{
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.col-3{
  display: flex;
  gap: 20px;
}
.col-3 > div:nth-child(1){
  width: 100%;
}

.checkbox-wrapper{
position: relative;

}

.checkbox-wrapper label{
  display: flex;
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  gap: 8px;


}.checkbox-wrapper input{
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
}

.checkbox-wrapper label::before{
content: '';
width: 24px;
height: 24px;
border: 1px solid #9f9fa6;
border-radius: 8px;

}

.checkbox-wrapper input:checked + label::before{

  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");

}

.checkbox-wrapper input:focus + label::before{

  outline: 2px solid #000000;
}

footer{
background: #F0F0F4;
height: 136px;
display: flex;
flex-direction: column;
padding: 40px 64px;
margin-bottom: 100px;
border-top: 1px solid #d6d6d6 ;
}
footer .button{
 display: flex;
 width: 608px;
 height: 56px;
 padding: 15px 40px;
 justify-content: center;
 align-items: center;
 gap: 10px;
 flex-shrink: 0;
 border: none;
 border-radius: 8px;
 background: #04D361;
 color: #FAFAFC;
 font-size: 16px;
 font-weight: 600;
 line-height: 26px
}
footer .button:hover{
background: #03b152;

}